div{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.profile{
width: 100px; 
display: block; 
margin-left: auto; 
margin-right: auto
}

.title{
    font-size: 16px; 
    font-family: 'gulim'; 
    color: blue; 
    letter-spacing: 4px
}

p{

}

#special {
    color: red; 
    font-weight: 1000
}

.box{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    display: block; 
    /* display: flex;
    /* justify-content: center; 
    align-items: center; */
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding-top:100px;
    border: 4px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.container{
    width:800px
}

.header{
    width:100%;
    height:50px;
    background: aquamarine;
}

.left-menu{
    width:20%;
    height:400px;
    background: cornflowerblue;
    display: inline-block;
    vertical-align:top;
    /* float:left */
}

.right{
    width:80%;
    height:400px;
    background:coral;
    display:inline-block;
    /* float:left */
    /*display inline-block : 내 크기만큼 차지*/
}

.footer{
    width:100%;
    height:100px;
    background: grey;
    /* clear:both */
}

.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(300%);
    padding:1px;
    position: relative;
}

.main-title{
    color:white;
    font-size:40px;
    margin-top:100px;
    z-index: 10;
}

.main-content{
    color:white;
    text-align:left;
    margin-top:100px;
}

.main-button{
    background:maroon;
    border-radius:5px;
    width:70px;
    display:block;
    margin-left:auto;
    position: absolute; /*position: static*/
    right: 20px;
}

.sub-box{
    width:50%;
    max-width:600px;
    height:200px;
    background-color:#eee;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:350px;
    text-align:center;
}

input[type=text]{
    padding:10px;
    font-size:20px;
    border:2px solid black;
    border-radius:5px;
}